<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--Note: When the Entities.edmx file is located under the Model folder, the resources are automatically called Model.Entities-->
    <add name="Entities" connectionString="metadata=res://*/Model.Entities.csdl|res://*/Model.Entities.ssdl|res://*/Model.Entities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\mssqllocaldb;initial catalog=EdmxDotNetCoreSample.MyContext;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>